<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
            border: 2px solid #070765;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>CompanyName</th>
        <th>LocatedCountry</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <tbody th:each="company: ${companies}">
    <tr>
        <td><p th:text="${company.getId()}"></p></td>
        <td><p th:text="${company.getCompanyName()}"></p></td>
        <td><p th:text="${company.getLocatedCountry()}"></p></td>
        <td>
            <a th:href="@{/courses(companyId=${company.id})}">Course</a>
        </td>
        <td>
            <a th:href="@{/getGroups(companyId=${company.id})}">Groups</a>
        </td>
        <td>
            <a th:href="@{/{id}/edit(id=${company.getId()})}">
                <input type="submit" value="Update">
            </a>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/{id}(id=${company.getId()})}">
                <input class="button" type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<hr>
<a href="/newCompany">Create new Company</a>

</body>
</html>