<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<form th:method="PATCH" th:action="@{/{id}(id=${company.getId()})}" th:object="${company}">

    <label for="companyName">Enter name</label>
    <input type="text" th:field="*{companyName}" id="companyName"/>
    <br>
    <label for="locatedCountry">Enter name</label>
    <input type="text" th:field="*{locatedCountry}" id="locatedCountry"/>
    <br>

    <input type="submit" value="Update!!"/>
</form>

</body>